<div class = "list-questions content-list-body">
<div class="list-questions-alt">
<br><h4>Alternate Phrases</h4>
 <ol>
    <% @question.alternate_phrases.each do |phrase| %>
    <li>
          <%= phrase.content %>
    </li>
    <% end %>
 </ol>
 </div>
 </div>
