<div class="list-questions">
<br><h5>Alternate Phrases</h5>
 <ol>
    <% @question.alternate_phrases.each do |phrase| %>
    <li>
          <%= phrase.content %>
    </li>
    <% end %>
 </ol>
 </div>
