 <div id="popular-Questions">
<div class="question-bar-alternate">
Alternate Phrases</div>
 <div class="question-index">
 <ul>
    <% @question.alternate_phrases.each_with_index do |phrase,i| %>
    <li class="<%= questions_subject_class(i+1,@question.alternate_phrases.count) %>">
          <%= phrase.content %>
    </li>
    <% end %>
 </ul>
 </div>
 </div>
