 <div id="popular-Questions">
<div class="question-bar-alternate">
Alternate Phrases</div>
 <div class="question-index">
 <ul>
    <% @question.alternate_phrases.each_with_index do |phrase,i| %>
    <li class = "universal-font">
          <%= phrase.content %>
    </li>
    <% end %>
 </ul>
 </div>
 </div>
