<div class="list-points">
<div style="float:left; margin-right:10px; width:329px;">
<div class="popular-q">
   <div class="latest-bar">
   Alternate Phrases</div>
    <div class="question_latest_popular">
    <% @question.alternate_phrases.each do |phrase| %>
    <li>
          <%= phrase.content %>
    </li>
    <% end %>
 </ul>
 </div> 
</div>
</div>
</div>
