<br>
<div class = "content-body">
<h5>List of related verses</h5>
<ol>
  <% @question.references.each do|r| %>
 <br><h6> <%= r.issue %></h6>
   <h3><%=  parse_tags(r.from,r.to,r) %></h3>
      <p> <%= truncate(@verses[r.id.to_s].translate_to("eng")[0].text, :length => 300, :omission => '...') %></p><br><br>
      <br>
       <% end %>
</ol>
</div>
