<h1>References</h1>
    <ol>
      <% @question.references.each do|q| %>
     <br><br> <%=h q.issue %><br><br>
       <h3><%=  parse_tags(q.from,q.to,q) %></h3>
         <% end %>
         </div>
         </div>
    </ol>
