<div class="list-points">
<div style="float:left; margin-right:10px; width:329px;">
<div class="popular-q">
   <div class="latest-bar">
   Related Subjects</div>
    <div class="question_latest_popular">
      <ul>
      <% @related_subject.each do |s| %>
      <li>
      <%= link_to truncate(s.name, :length => 71, :omission => '...'), sub_topic_slug_path(s.topic.name_slug, s.name_slug)%>
      </li>
      <% end %>
 </ul>
 </div> 
</div>
</div>
</div>
