<div class="list-points">
<div style="float:left; margin-right:10px; width:329px;">
<div class="related-q">
   <div class="latest-bar">
   Related Questions</div>
    <div class="question_latest_popular">
      <ul>
      <% @related_questions.each do |q| %>
      <li>
      <%= link_to truncate(q.quest, :length => 71, :omission => '...'), question_slug_path(q.sub_topic.topic.name_slug, q.sub_topic.name_slug, q.quest_slug)%>
      </li>
      <% end %>
 </ul>
 </div> 
</div>
</div>
</div>
