<%= bread_crumb_pop() %>
<br>
<div class = "list-questions content-list-body">
  <div class = "list-questions-popular">
    <h5>Popular Sub Topics</h5></div><br>
    <div class="list-questions-popular">
      <ol>
        <% @questions.each do|q| %>
          <li>
          <%= link_to truncate(q.quest, :length => 147, :omission => '...'), topic_sub_topic_question_url (q.sub_topic.topic, q.sub_topic, q)%>
          </li>
        <% end %>
        <div class="simple-page">
          <%= will_paginate @questions%>
        </div>
      </ol>
    </div>
  </div>
  <div class="list-points">
    <div id="prev-link"><br><br>
       <a href="<%= '/' %>">  << Back  </a>
    </div>
  </div>
</div>
