<% get_keywords(@content.about) %>
<% content_for :html_title, @content.about %>
<% content_for :html_keywords, @words %>
<% content_for :html_description, @content.about[0..255] %>
<div class="content-body">
  <h1>ABOUT
    <% if logged_in?  %>
      <% if admin? %>
        <span class="editlink-margin">
          <%= edit_link("about") %>
        </span>
      <% end %>
        <span class="static-text">
          <%= simple_format(@content.about)%>
        </span>
    <% else %>
       <span class="static-text">
          <%= simple_format(@content.about)%>
        </span>
    <%end%>
  </h1>
</div>
