<% get_keywords(@content.about) %>
<% content_for :html_title, "About" %>
<% content_for :html_keywords, @words %>
<% content_for :html_description, @description[0..255] %>
<div class="content-body text-body">
  <h1>ABOUT
    <% if logged_in?  %>
      <% if admin? %>
        <span class="editlink-margin">
          <%= edit_link("about") %>
        </span>
      <% end %>
        <span class="static-text">
          <p><%= display_full_text(@content.about) %></p>
        </span>
    <% else %>
       <span class="static-text">
          <p><%= display_full_text(@content.about) %></p>
        </span>
    <%end%>
  </h1>
</div>
