<div class="content-body">
  <h1>ABOUT</h1>
  <div class="clear"></div>
  <div>
   <% if logged_in?  %>
     <% if admin? %>
        <div class="editlink-margin">
          <%= edit_link("about") %>
        </div>
       <%= simple_format(@content.about)%>
      <% end %>
   <% else %>
     <%= simple_format(@content.about)%>
   <%end%>
  </div>
</div>
