<div class="content-body">
  <h1>ABOUT
    <% if logged_in?  %>
      <% if admin? %>
        <span class="editlink-margin">
          <%= edit_link("about") %>
        </span>
      <% end %>
        <span class="static-text">
          <%= simple_format(@content.about)%>
        </span>
    <% else %>
       <span class="static-text">
          <%= simple_format(@content.about)%>
        </span>
    <%end%>
  </h1>
</div>
