<div class="content-body">
 <h1>CONTACT
   <% if logged_in?  %>
     <% if admin? %>
       <span class="editlink-margin">
          <%= edit_link("contact") %>
       </span>
     <% end %>
      <span class="static-text">
          <%= simple_format(@content.contact)%>
        </span>
   <% else %>
     <span class="static-text">
          <%= simple_format(@content.contact)%>
        </span>
   <%end%>
 </h1>
</div>
