<div class="content-body">
<h1>CONTACT</h1>
<div class="clear"></div>
 <div>
   <% if logged_in?  %>
     <% if admin?%>
       <div class="editlink-margin">
          <%= edit_link("contact") %>
       </div>
       <%= simple_format(@content.contact)%>
     <% end %>
   <% else %>
     <%= simple_format(@content.contact)%>
   <%end%>
  </div>
</div>
