<% get_keywords(@content.credits) %>
<% content_for :html_title, "Credits" %>
<% content_for :html_keywords, @words %>
<% content_for :html_description, @content.credits[0..255] %>
<div class="content-body">
 <h1>CREDITS
   <% if logged_in?  %>
     <% if admin? %>
       <span class="editlink-margin">
         <%= edit_link("credits") %>
       </span>
     <% end %>
      <span class="static-text">
          <%= simple_format(@content.credits)%>
      </span>
   <% else %>
      <span class="static-text">
          <%= simple_format(@content.credits)%>
      </span>
   <%end%>
 </h1>
</div>
