<div class="content-body">
 <h1>CREDITS
   <% if logged_in?  %>
     <% if admin? %>
       <span class="editlink-margin">
         <%= edit_link("credits") %>
       </span>
     <% end %>
      <span class="static-text">
          <%= simple_format(@content.credits)%>
      </span>
   <% else %>
      <span class="static-text">
          <%= simple_format(@content.credits)%>
      </span>
   <%end%>
 </h1>
</div>
