<div class="content-body">
<h1>CREDITS</h1>
<div class="clear"></div>
<div>
   <% if logged_in?  %>
     <% if admin? %>
        <div class="editlink-margin">
          <%= edit_link("credits") %>
        </div>
       <%= simple_format(@content.credits)%>
      <% end %>
   <% else %>
     <%= simple_format(@content.credits)%>
   <%end%>
  </div>
</div>
