<div class="content-body">
<h1>DUAS</h1>
<div class="clear"></div>
  <div>
   <% if logged_in?  %>
     <% if admin? %>
        <div class="editlink-margin">
          <%= edit_link("duas") %>
        </div>
       <%= simple_format(@content.duas)%>
      <% end %>
   <% else %>
     <%= simple_format(@content.duas)%>
   <%end%>
  </div>
</div>
