<% get_keywords(@content.duas) %>
<% content_for :html_title, "Duas" %>
<% content_for :html_keywords, @words %>
<% content_for :html_description, @description[0..255] %>
<div class="content-body text-body">
<h1>DUAS
   <% if logged_in?  %>
     <% if admin? %>
       <span class="editlink-margin">
         <%= edit_link("duas") %>
       </span>
     <% end %>
      <span class="static-text">
        <p><%= display_full_text(@content.duas) %></p>
      </span>
   <% else %>
      <span class="static-text">
        <p><%= display_full_text(@content.duas) %></p>
      </span>
   <%end%>
  </h1>
</div>

