<div class="content-body">
<h1>FAQ'S</h1>
<div class="clear"></div>
   <div>
   <% if logged_in?  %>
     <% if admin? %>
        <div class="editlink-margin">
          <%= edit_link("faqs") %>
        </div>
       <%= simple_format(@content.faqs)%>
      <% end %>
   <% else %>
     <%= simple_format(@content.faqs)%>
   <%end%>
  </div>
</div>
