<% get_keywords(@content.faqs) %>
<% content_for :html_title, "FAQ'S'" %>
<% content_for :html_keywords, @words %>
<% content_for :html_description, @description[0..255] %>
<div class="content-body text-body">
 <h1>FAQ'S
   <% if logged_in?  %>
     <% if admin? %>
         <span class="editlink-margin">
          <%= edit_link("faqs") %>
          </span>
     <% end %>
     <span class="static-text">
       <p><%= display_full_text(@content.faqs) %></p>
     </span>
   <% else %>
     <span class="static-text">
       <p><%= display_full_text(@content.faqs) %></p>
     </span>
   <%end%>
 </h1>
</div>
