<% get_keywords(@content.faqs) %>
<% content_for :html_title, "FAQ'S'" %>
<% content_for :html_keywords, @words %>
<% content_for :html_description, @content.faqs[0..255] %>
<div class="content-body">
 <h1>FAQ'S
   <% if logged_in?  %>
     <% if admin? %>
         <span class="editlink-margin">
          <%= edit_link("faqs") %>
          </span>
     <% end %>
     <span class="static-text">
       <%= simple_format(@content.faqs)%>
     </span>
   <% else %>
     <span class="static-text">
       <%= simple_format(@content.faqs)%>
     </span>
   <%end%>
 </h1>
</div>
