<br><h7>Editing translation</h7>

<% form_for(@translation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @translation %> |
<%= link_to 'Back', translations_path %>
