<div class="list-points">
<div style="float:left; margin-right:10px; width:329px;">
<div class="popular-q">
   <div class="latest-bar">
   Related Subjects</div>
    <div class="question_latest_popular">
      <ul>
      <% @related_subject.each do|t| %>
      <li>
      <%= link_to t.name, topic_url(t)%>
      </li>
      <% end %>
 </ul>
 </div> 
</div>
</div>
</div>
