  <div id="popular-Questions">
  <div class="question-bar">
  Related Subjects</div>
    <div class = "question-index">
      <ul>
      <% @related_subject.each_with_index do|t,i| %>
      <li class="<%= questions_subject_class(i+1, @related_subject.count) %>">
      <%= link_to truncate(t.name, :length => 71, :omission => '...'),topic_slug_path(t.name_slug)%>
      </li>
      <% end %>
 </ul>
 </div> 
 </div>
