<div class="dashboard-trans">
<div class ="admin-page"> 
  <h1><%= link_to 'List all topics', topics_path %>
</div></h1></div><br>
<div class="dashboard-trans">
<div class ="admin-page"> 
 <h1>
<%= link_to("Translation Setting", :controller => "translations", :action => "index")%>
</div></h1></div>
