<div class="dashboard-trans">
  <%= link_to 'List all topics', topics_path %>
</div><br>
<div class="dashboard-trans">
<%= link_to("Translation Setting", :controller => "translations", :action => "new")%>
</div>
