/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

@font-face {
    font-family: 'Square721Regular';
    src: url('font/square721bt-roman-webfont.eot');
    src: url('font/square721bt-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/square721bt-roman-webfont.woff') format('woff'),
         url('font/square721bt-roman-webfont.ttf') format('truetype'),
         url('font/square721bt-roman-webfont.svg#Square721Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Arabic712';
    src: url('font/pdms_saleem_quranfont-signed-webfont.eot');
    src: url('font/pdms_saleem_quranfont-signed-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/pdms_saleem_quranfont-signed-webfont.ttf') format('truetype'),
         url('font/pdms_saleem_quranfont-signed-webfont.svg#Arabic712') format('svg');
    font-weight: normal;width: 565, // width of slider panel
02	height: 290,
    font-style: normal;

}
.arabic{
  font-family: 'Arabic712' !important;
  font-size:25px;
  padding-right:5px;
}
.arabic-text{
  padding-top:25px;
}

.left{
  float:left;
}

.right{
  float:left;
}

input[type=password], input[type=text]{
	border:1px solid #f3df95;
	background:#FFF;
	color:#666;
	}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
.clear {
	clear: both;
	line-height: 0;
	font-size: 0;
}
img.alignright {
	float:right;
	margin:0 0 1em 1em
}
img.alignleft {
	float:left;
	margin:0 1em 1em 0
}
img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
a img.alignright {
	float:right;
	margin:0 0 1em 1em
}
a img.alignleft {
	float:left;
	margin:0 1em 1em 0
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}


h1{  font-family: 'Square721Regular';
	 font-size:22px;
	 line-height:22px;
	 font-weight:normal;
	 color:#4b6a15;}
	 
h2{  font-family: 'Square721Regular';
	 font-size:22px;
	 line-height:18px;
	 font-weight:normal;
	 color:#577818;}
	 
	 
h3{  font-family: 'Square721Regular';
	 font-size:18px;
	 line-height:18px;
	 padding-bottom:5px;
	 font-weight:normal;
	 color:#835a35;}

h4{
  font-size:16px;
  line-height:20px;
  color:#666;
  padding:10px 0 10px 0;
}

p{
	font-size:12px;
	text-align:left;
	font-weight:normal;
	line-height:18px;}

table { border-collapse: collapse; border-spacing: 0;}

th, td, caption { font-weight: normal; vertical-align: top; text-align: left;}
	
a{ text-decoration:none;}
/* Main CSS Start */
body {
	background: url(/images/bg.png) top center no-repeat #f2fbc4;
	font-size: 12px;
	font-family: 'Square721Regular';
	color: #666;
	font-weight:normal;
	}
#wrapper {
	width:1000px;
	margin: 0 auto;
}
/* Main CSS End */


/* Header CSS Start */

	
#header {
	height: 108px;
	width:1000px;
	margin:0 auto;
}

#logo{
	background:url(/images/logo.png) no-repeat left top;
	width:325px;
	height:106px;
	float:left;}
	
#social-container{
	float:right;
	padding-top:21px;
	
	}
	
.s-network{ 
	float:left;
	width:28px;
	height:28px;
	margin-right:9px;
	}
/* Header CSS End */


/* Menu CSS Start */
#menu {

	float:right;
	width:640px;
	padding-top:23px;
	
}

#menu  ul{ 
	float:right;
	}
	
#menu  ul li{ 
	float:left;
	list-style:none;
	padding:1px 0px 0px 15px;	
	}
	
#admin-menu li{
  padding-left:5px !important;
}

#menu  ul li a{ 
	float:left;
	font-size:14px;
	font-weight:normal;
	color:#FFF;
	text-decoration:none;
	padding:8px 20px 8px 20px
	}
	
#menu  ul li a:hover, #menu  ul li a.active{ 
	float:left;
	font-size:14px;
	font-weight:normal;
	color:#496714;
	text-decoration:none;
	background:#FFF;
	webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	}	
.home{ 
	padding-top:3px;
	float:left;}
/* Menu CSS End */


/* Content CSS Start */
#content {
	
}
#col-1 {
	width:280px;
	float: left;
	
}

.side-topic{
	float:left;
	padding: 15px 0 0 22px;
	width:250px;
	height:32px;
	background:url(/images/t-index.png) no-repeat left top;}
	
.side-arrow{ float:left;
			 margin:4px 10px 4px 0px}

.side-nav{
	float:left;

	width:273px;
	}
	
.side-nav ul{
	float:left;
	width:260px;
	background:#f6f6f6 ;
	padding:0px 0px 0px 0px;
	margin-left:7px;
	}
	
.side-nav ul li{
	float:left;
	width:260px;
	
	border-top:1px solid #eeeeee;
	background:url(/images/side-nav-rep.png) repeat-y; 
	
	}
	
.side-nav ul li a{
	float:left;
	font-size:14px;
	color:#666;
	padding:10px 0px 10px  41px;
	background:url(/images/normal-bullet.png) no-repeat  19px 15px ;
  width:220px;
  display:inline-block;
	}
	
.side-nav ul li a:hover, .side-nav ul li a.slected{
	float:left;
	font-size:14px;
	color:#FFF;
	width:237px;
	background:url(/images/side-nav-hover.png) no-repeat left top;

	
	}
	
	
	
.quranic-dua{
	float:left;
	background:url(/images/quranic-dua.gif) no-repeat left top;
	width:260px;
	height:158px;
	margin-top:20px;
	}

#col-2 {
	width: 680px;
	float: right;
	margin-right:10px;
	position:relative;
	
	
}

.search-container{ 
	float:left;
	background:url(/images/search-rep.png) repeat-x left top;
	width:685px;
	height:130px;
	margin-top:16px;
	position:relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}
	
.search-topic{
	float:left;
	background:url(/images/search-tag.png) no-repeat left top;
	width:133px;
	height:71px;
	position:absolute;
	top: 30px;
	left: -2px;
	font-size:14px;
	text-align:left;
	color:white;
	text-decoration:none;
	padding:26px 0px 0px 5px;
	font-weight: normal;
}


.search-field{
	float:left;
	width:493px;
	padding:6px 10px 6px 7px;
	border:1px solid #ebebeb !important;
	background:#FFF;
	margin: 16px 0 0 153px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}
	
.list{
	float:left;
	width:381px;
	padding: 6px 5px 6px 4px;
	border:1px solid #ebebeb;
	background:#FFF;
	font-size:11px;
	margin: 8px 0 0 153px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}
.list option{
  background:#FFF;
}

.search-btn{
	float:left;
	background:url(/images/srch.png) no-repeat left top;
	width:110px;
	height:63px;
	font-size:14px;
	color:white;
	line-height:28px;
	text-align:center;
	margin:10px 0px 0px 20px;
	padding-left:45px;
	border:none;
	}
.search-terms{
  float:left;
  width:535px;
}

.content-body{
  padding-top:10px;
}	
	
#slider{
	background:url(/images/slider-bg.png) no-repeat left top;
	width:660px;
	height:340px;
	float:left; 
	padding:10px;
	margin-top:25px;}
	
#slider .imge-slide{
	background:url(/images/sample-1.png) no-repeat left top;
	width:660px;
	height:306px;
	float:left; 
	padding:10px;
	}
	
#class-container{ 
	float:left;
	padding-top:5px;
	padding:0px 10px 0px 10px;}

.class-section{
	float:left;
	width:300px;
	margin-right:44px;
	margin-bottom:5px;
	padding-top:18px;}
	
.class-img{
	float:left;
	width:100px;
	height:80px;
	background:#FFF;
	margin-right:7px;
	padding:5px;}
	
.nomargin{	margin-right:0px !important;}


#popular-Questions{
	float:left;
	background:#FFF;
	width:100%;
	margin-top:37px;
	padding-bottom:10px;
	position:relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}
	
	.popular-q{
	float:left;
	background:#FFF;
	width:100%;
	margin-top:37px;
	padding-bottom:10px;
	position:relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}

	
#latest-Questions{
	float:left;
	background:#FFF;
	margin-top:4px;
	padding-bottom:10px;
	width:100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}
	
.font-9{
	font-size:9px;}
	
.question-bar{
	background:url(/images/question-bar.png) no-repeat left top;
	width:661px;
	height:42px;
	font-size:16px;
	color:#FFF;
	padding: 10px 0 0 24px;
	position:absolute;
	float:left;
	top:-4px;
	left:9px;}
	
	.latest-bar{
	background:url(/images/latest-q.png) no-repeat left top;
	width:296px;
	height:36px;
	font-size:16px;
  color:#FFF;
	padding: 6px 0 0 16px;
	position:absolute;
	float:left;
	top:-4px;
	left:10px;}
	
	.question-bar_topic_sub_topic{
	background:url(/images/question-bar.png) no-repeat left top;
	width:661px;
	height:42px;
	font-size:16px;
	color:#FFF;
	padding: 10px 0 0 24px;
	position:absolute;
	float:left;
	top:-4px;
	left:9px;}
	
.show-more{
	float:right;
	width:76px;
	height:24px;
	line-height:24px;
	text-align:center;
	font-size:11px;
	color:#666;
	margin-right:49px;
	background:url(/images/show-btn.png) repeat-x left top;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top:0px;
	border-radius: 5px;}
	
	.browse-btn{
	float:right;
	width:76px;
	height:24px;
	line-height:24px;
	text-align:center;
	font-size:11px;
	color:#666;
	margin-right:21px;
	background:url(/images/show-btn.png) repeat-x left top;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top:15px;
	border-radius: 5px;}
	

.question{
	float:left;
	padding: 55px 0 0 30px;}

.question_latest_popular{
	float:left;
	padding: 42px 15px 0 0px;}
	
.question ul{
	float:left;
	width:100%;}
	
.question ul li{
	float:left;
	border-bottom:1px solid #efefef;
	padding-left:25px;
	padding-bottom:10px;
	margin-bottom:5px;
	background:url(/images/normal-bullet.png) no-repeat 5px 3px;
	clear:both;
	}
	
.question ul li a{
	color:#666;}
	
#log{
	width:500px;
	margin:0 auto;
	min-height:287px;
	padding-top:90px;}
	
#login{
	width:335px;
	height:220px;
	margin:0 auto ;
	background:#FFF;
	padding:50px 0px 0px 25px ;
	position:relative;
	border:1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}
	
.login-bar{
	float:left;
	position:absolute;
	background:url(/images/login.png) no-repeat left top;
	width:344px;
	height:31px;
	left:8px;
	top:-5px;
	font-size:16px;
	padding:4px 0px 0px 15px;
	color:#FFF;}
	

	
#login .user{
	float:left;
	width:280px;
	height:37px;
	background:#FFF;
	margin-bottom:20px;
	border:1px solid #f3df95;}
	
#login .u-icon{
	float:left;
	
	width:36px;
	height:37px;}
	
#login .u-input{
	float:left;
	width:200px;
	background:#FFF;
	margin-left:10px;
	padding-top:9px;
	border:none !important;}
	
.login-btn{
	float:left;
	background:url(/images/log-btn.png) no-repeat left top;
	width:71px;
	height:41px;
	text-align:center;
	color:#FFF;
	font-size:16px;
	border:none;
	margin-top:25px;
	padding-bottom:7px;
	cursor:pointer;}

div.dashboard{
  font-size:21px;
  margin-top:20px;
}

table.admin-view{
  width:100%;
  border:1px solid;
  font-size:15px;
  margin-top:20px;
}
table.admin-view td{
  border:1px solid;
  padding:10px;
}
table.admin-view th{
  border:1px solid;
  text-align:center;
  font-weight:bold;
  padding:10px;
  font-size:18px;
}

.rounded-borders{
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.actions{
  margin:20px 0px 20px 0px;
}

.button{
  background:url("/images/rep-btn.png") repeat-x;
  height:28px;
}

.action-button{
  float:left;
  width:150px;
  text-align:center;
  color:white;
  font-size:14px;
  line-height:28px;
  margin-right:10px;
}
.addthis_toolbox{
 float: right;
 }

.list-points{
 float:left;
 padding-top:50px;
}
.list-points-verse{
 float:left;
 padding-top:50px;
}

.list-points-browse{
 float:left;
 padding-top:20px;
}
.list-points h1{
  padding:20px 0px 20px 0px;
  
}

.list-points li{
  font-size:14px;
	padding-left:25px;
	padding-bottom:10px;
	margin-left:20px;
	margin-bottom:5px;
	background:url(/images/normal-bullet.png) no-repeat 5px 7px;
}
.list-points-verse li{
  font-size:14px;
	padding-left:25px;
	padding-bottom:10px;
	margin-left:20px;
	margin-bottom:5px;
	}

.list-points li a{
  color:#333;
  border-bottom:1px solid #EFEFEF
}
.list-points-verse li a{
  color:#333;
  border-bottom:1px solid #EFEFEF
  }
  
  .verse-color {
  color:#333;
  font-size:14px;
  }

.list-points-browse h1{
  padding:20px 0px 20px 0px;
  
}

.list-points-browse li{
  font-size:14px;
	padding-left:25px;
	padding-bottom:10px;
	margin-left:20px;
	margin-bottom:5px;
	background:url(/images/normal-bullet.png) no-repeat 5px 7px;
}

.list-points-browse li a{
  color:#333;
  border-bottom:1px solid #EFEFEF
}

.context-of{
  color:black;
}

.context-of .arabic{
  font-size:28px;
}

.context-of li{
  font-size:19px;
}

/* Content CSS End */


/* Footer CSS Start */
#footer {
	background:url(/images/footer-bg.png) repeat-x;
	height:136px;
	width:100%;
	margin-top:95px;
	
}

#footer .inner{
	width:1000px;
	margin:0 auto;
	padding-top:38px;}
	
#footer .connect-with{
	float:left;
	width:185px;
	
	}
	
#footer h6{
	font-size:14px;
	color:#FFF;
	text-align:center;
	padding-bottom:15px;
	font-weight:normal;
	}
	
#footer h5{
	font-size:14px;
	color:#FFF;
	text-align:left;
	padding-bottom:15px;
	font-weight:normal;
	}
	
#footer .s-icon{
	float:left;
	width:28px;
	height:28px;
	margin-right:7px;}
	
	
#footer .logo{
	background:url(/images/footer-logo.png) no-repeat right top;
	float:right;
	width:160px;
	height:75px;
	}
	
#footer .search-box{
	float:left;
	margin-left:204px;
	width:215px;
	}

#footer .s-input{
	float:left;
	width:174px;
	border:1px solid #f3df95;
	height:24px;
	background:#FFF;
	padding-left:6px;
	}
		
#footer .s-btn{
	float:left;
	background:url(/images/f-search.png) no-repeat right top;
	width:31px;
	height:28px;
	border: none;}
.slides_container {
    width:663px;
    height:306px;
  }
  .slides_container div {
    width:470px;
    height:170px;
    display:block;
  }
  #slideshowHolder a.next{
    background: url("/images/arrow-next.png") no-repeat scroll 0 0 transparent;
    color: transparent;
    float: right;
    height: 43px;
    left: 32px;
    position: relative;
    top: -170px;
    width: 24px;
  }
  #slideshowHolder a.prev {
  background: url("/images/arrow-prev.png") no-repeat scroll 0 0 transparent;
    color: transparent;
    color: transparent;
    float: left;
    height: 43px;
    position: relative;
    right: 33px;
    top: -170px;
    width: 24px;
}

.pagination{
  display: inline;
  float: left;
  margin-left: 267px;
  text-align: center;
  width: 300px;
}
.pagination li{
  float:left;
  padding:12px;
}
.bread-crumb{
  padding-top:10px;st
}
/* Footer CSS End */
