/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
@font-face {
  font-family: "me_quran";
  src: local("me_quran"), url("font/me_quran.ttf");/* format ("truetype"); */
}
@font-face {
  font-family: "me_urdu";
  src: local("me_quran"), url("font/urdu.ttf");/* format ("truetype"); */
}

 @font-face {
   font-family: 'Square721Regular';
    src: url('font/square721bt-roman-webfont.eot');
    src: url('font/square721bt-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/square721bt-roman-webfont.woff') format('woff'),
         url('font/square721bt-roman-webfont.ttf') format('truetype'),
         url('font/square721bt-roman-webfont.svg#Square721Regular') format('svg');
         }

textarea {
  width:90%;
}
.Urdu{
  font-family: "me_urdu";
  font-size:20px;
  text-align:right;
}
.arabic{
  font-size: 30px;
  font-family: me_quran, 'Traditional Arabic';
  text-align: right;
  line-height: 72px;
  direction: rtl;
  padding-right:5px;
  color:black;
}
.arabic-current-verse{
  font-size: 30px;
  font-family: me_quran, 'Traditional Arabic';
  text-align: right;
  line-height: 90px;
  direction: rtl;
  padding:0px 20px 0px 0px;
}
.arabic-post-pr-verse{
  font-size: 30px;
  font-family: me_quran, 'Traditional Arabic';
  text-align: right;
  line-height: 72px;
  direction: rtl;
  padding:0px 20px 0px 20px;
  float: right;
  width: 450px;
}
.arabic-text{
  padding-top:25px;
}

.left{
  float:left;
}

.right{
  float:left;
}
.alternate{
  font-family: 'Square721Regular';
   font-size:18px;
   line-height:22px;
    font-weight:normal;
   padding-bottom:10px;
   color:#4b6a15;
    padding-left:24px;

  }
input[type=password], input[type=text]{
  border: 1px solid #f3df95;
  background: #FFF;
  color: #333333;
  padding: 5px;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
#new_translation {
width:420px;}
#new_translation input[type-text]{
 float:right;}
 #new_translation label{float: left;
    width: 105px;}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.clear {
  clear: both;
  line-height: 0;
  font-size: 0;
}
img.alignright {
  float:right;
  margin:0 0 1em 1em
}
img.alignleft {
  float:left;
  margin:0 1em 1em 0
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
a img.alignright {
  float:right;
  margin:0 0 1em 1em
}
a img.alignleft {
  float:left;
  margin:0 1em 1em 0
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}


h1{
  font-family: 'Square721Regular';
  font-size:22px;
  line-height:34px;
  font-weight:normal;
  padding-bottom:10px;
  color:#577818;}

   h1 a{  font-family: 'Square721Regular';
   font-size:18px;
  }

h2{  font-family: 'Square721Regular';
   font-size:22px;
   line-height:18px;
   font-weight:normal;
   color:#577818;}

h3{  font-family: 'Square721Regular';
   font-size:18px;
   line-height:18px;
   padding-bottom:5px;
   font-weight:normal;
   color:#835a35;}
h3 a{
   color:#835a35;}

h2{
  font-family: 'Square721Regular';
   font-size:18px;
   line-height:22px;
   font-weight:normal;
   padding-bottom:10px;
   color:#4b6a15;
}
h5{  font-family: 'Square721Regular';
   font-size:18px;
   line-height:22px;
   font-weight:normal;
   padding-bottom:10px;
   color:#000;}

h6{  font-family: 'Square721Regular';
   font-size:15px;
   line-height:22px;
   font-weight:normal;
   padding-bottom:10px;
   color:#4b6a15;}

p{
  font-family: 'Square721Regular';
  font-size:12px;
  text-align:left;
  font-weight:normal;
  line-height:18px;}
.list-questions h5{
  font-family: 'Square721Regular';
  padding-left:24px;
  padding-top:15px;
  }
.list-questions-popular h5{
  font-family: 'Square721Regular';
  padding-left:24px;
  font-size:22px;
   color:#4b6a15;
  }
  .list-questions-alt h4{
  font-family: 'Square721Regular';
  padding-left:24px;
  }

table { border-collapse: collapse; border-spacing: 0;}

th, td, caption { font-weight: normal; vertical-align: top; text-align: left;}

a {
  font-family: 'Square721Regular';
  text-decoration:none;
  color:#4B6A15;
}
button a{ text-decoration:none;
   color:#000000;
}
/* Main CSS Start */
body {
  background: url(/images/bg.png) top center no-repeat #f2fbc4;
  font-size: 12px;
  font-family: 'Square721Regular';
  color: #333;
  font-weight:normal;
  }
#wrapper {
  font-family: 'Square721Regular';
  width:1000px;
  margin: 0 auto;
}
/* Main CSS End */


/* Header CSS Start */


#header {
  height: 108px;
  width:1000px;
  margin:0 auto;
}
#header .addthis_toolbox{
 float: right;
 }

#logo{
  background:url(/images/logo.png) no-repeat left top;
  width:325px;
  height:106px;
  float:left;}

#social-container{
  float:right;
  padding-top:0px;
  width:137px;
  position:relative;
  top:17px;
  }
#social-container a{
  float:left;
  padding-right:5px;
}

.s-network{
  float:left;
  width:28px;
  height:28px;
  margin-right:9px;
  }
/* Header CSS End */


/* Menu CSS Start */
#menu-bar {
 float: right;
 margin-right: 98px;
 margin-top: -34px;
 width: 666px;
}

#menu-bar  ul{
  float:right;
  }

#menu-bar ul li a:hover{
  background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px 6px 0 0;
    color: #9ACD32;

}

#menu-bar ul li a.active {
    font-family: 'Square721Regular';
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px 6px 0 0;
    color:#496719;
}
#menu-bar ul li a.sub_item:hover {
  font-family: 'Square721Regular';
  background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 1px 1px 0 0;
    color: #9ACD32;
    width:51px;
}

#menu-bar ul li a.home:hover {
    background:url(/images/nav-home.png) no-repeat 16px 6px #FFFFFF;
    background-position:center;
    border-radius: 6px 6px 0 0;
}

#menu-bar ul li a.home.active {
 background:url(/images/hover.png) no-repeat 16px 6px #FFFFFF;
 background-position:center;
 border-radius: 6px 6px 0 0;
}

#menu-bar  ul li.last{
  float:left;
  list-style:none;
  margin-left:-16px;
  }

#admin-menu li{
  padding-left:5px !important;
}

#menu-bar ul li a{
    color:#fff;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    padding: 6px 14px 5px;
    text-decoration: none;
    width:52px;
  }
 #menu ul li a.active{
  width:100px;
  float:left;
  font-size:14px;
  font-weight:normal;
  color:#496719;
  text-decoration:none;
  background:#000;
  webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}
#menu-bar  ul li a.home{
    float: left;
    height: 24px;
    margin-bottom: 0;
    margin-top: -4px;
    padding-bottom: 4px;
    width: 22px;
    background:url(/images/nav-home-white.png) no-repeat 16px 6px;
    background-position:center;
    }
/* Menu CSS End */


/* Content CSS Start */
#content {

}
#col-1 {
  width:280px;
  float: left;

}

.side-topic{
  float:left;
  padding: 15px 0 0 22px;
  width:250px;
  height:32px;
  background:url(/images/t-index.png) no-repeat left top;}

.side-arrow{ float:left;
       margin:4px 10px 4px 0px}

.side-nav{
  float:left;
  position:relative;
  top:-1px;
  width:273px;
  }

.side-nav ul{
  float:left;
  width:260px;
  background:#f6f6f6 ;
  padding:0px 0px 0px 0px;
  margin-left:7px;
  }

.side-nav ul li{
  float:left;
  width:260px;
  border-top:1px solid #eeeeee;

  }

.side-nav ul li a{
  font-family: 'Square721Regular';
  float:left;
  font-size:14px;
  color:#333;
  padding:10px 9px 10px 41px;
  background-position:10% 50%;
  background-repeat: no-repeat;
  width:210px;
  display:inline-block;
  border-top:1px solid #eeeeee;
background: #f7f7f7; /* Old browsers */
background-image:url(/images/nav-normal-arrow.png) , linear-gradient(to bottom,  #f7f7f7 0%,#eeeeee 100%);
background-image:url(/images/nav-normal-arrow.png) , -moz-linear-gradient(top,  #f7f7f7 0%, #eeeeee 100%);
background-image:url(/images/nav-normal-arrow.png) ,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eeeeee));
background-image:url(/images/nav-normal-arrow.png) ,-webkit-linear-gradient(top,  #f7f7f7 0%,#eeeeee 100%);
background-image:url(/images/nav-normal-arrow.png) ,-o-linear-gradient(top,  #f7f7f7 0%,#eeeeee 100%);
background-image:url(/images/nav-normal-arrow.png) , -ms-linear-gradient(top,  #f7f7f7 0%,#eeeeee 100%);
background-image: url(/images/nav-normal-arrow.png)\9;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
background-position: 10% 50%, 0% 0%;
background-origin: border-box, border-box;
background-repeat: no-repeat, no-repeat;
  }

.side-nav ul li a:hover, .side-nav ul li a.selected{
  font-family: 'Square721Regular';
  float:left;
  font-size:14px;
  color:#FFF;
  width:210px;
  background-image:url(/images/nav-hover-arrow.png) , linear-gradient(bottom, rgb(149,175,5) 10%, rgb(97,127,16) 70%);
  background-image:url(/images/nav-hover-arrow.png), -o-linear-gradient(bottom, rgb(149,175,5) 10%, rgb(97,127,16) 70%);
  background-image:url(/images/nav-hover-arrow.png), -moz-linear-gradient(bottom, rgb(149,175,5) 10%, rgb(97,127,16) 70%);
  background-image:url(/images/nav-hover-arrow.png), -webkit-linear-gradient(bottom, rgb(149,175,5) 10%, rgb(97,127,16) 70%);
  background-image:url(/images/nav-hover-arrow.png), -ms-linear-gradient(bottom, rgb(149,175,5) 10%, rgb(97,127,16) 70%);
background-image:url(/images/nav-hover-arrow.png), -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(0.1, rgb(149,175,5)),
 color-stop(0.7, rgb(97,127,16))
);
 background-image: url(/images/nav-hover-arrow.png)\9;
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#96af05', endColorstr='#617f10',GradientType=0); /* IE6-9 */
background-position: 10% 50%, 0% 0%;
background-origin: border-box, border-box;
background-repeat: no-repeat, no-repeat;
position:relative;
z-index:1;
}

#col1-1 {
  float: left;
  position:relative;
  top:147px;

}

.side1-topic{
  float:left;
  padding: 15px 0 0 22px;
  width:250px;
  height:32px;
  background:url(/images/t-index.png) no-repeat left top;
  }

.side1-arrow{ float:left;
       margin:4px 10px 4px 0px}

.side1-nav{
  float:left;
  width:273px;
  position:relative;
  top:-148px;
  }

.side1-nav ul{
  float:left;
  width:260px;
  background:#f6f6f6 ;
  padding:0px 0px 0px 0px;
  margin-left:7px;
  }

.side1-nav ul li{
  float:left;
  width:260px;

  border-top:1px solid #eeeeee;
  background:url(/images/side-nav-rep.png) repeat-y;

  }

.side1-nav ul li a{
  float:left;
  font-size:14px;
  color:#333;
  padding:10px 0px 10px  41px;
  background:url(/images/normal-bullet.png) no-repeat  19px 15px ;
  width:210px;
  display:inline-block;
  }

.side1-nav ul li a:hover, .side1-nav ul li a.slected{
  float:left;
  font-size:14px;
  color:#FFF;
  width:210px;
   background-image: url(/images/nav-hover-arrow.png)\9;
   background-image:url(/images/nav-hover-arrow.png) , linear-gradient(bottom, rgb(149,175,5) 10%, rgb(97,127,16) 70%);
background-image:url(/images/nav-hover-arrow.png), -o-linear-gradient(bottom, rgb(149,175,5) 10%, rgb(97,127,16) 70%);
background-image:url(/images/nav-hover-arrow.png), -moz-linear-gradient(bottom, rgb(149,175,5) 10%, rgb(97,127,16) 70%);
background-image:url(/images/nav-hover-arrow.png), -webkit-linear-gradient(bottom, rgb(149,175,5) 10%, rgb(97,127,16) 70%);
background-image:url(/images/nav-hover-arrow.png), -ms-linear-gradient(bottom, rgb(149,175,5) 10%, rgb(97,127,16) 70%);

background-image:url(/images/nav-hover-arrow.png), -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(0.1, rgb(149,175,5)),
 color-stop(0.7, rgb(97,127,16)));
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96af05', endColorstr='#617f10',GradientType=0); /* IE6-9 */
background-position: 10% 50%, 0% 0%;
background-origin: border-box, border-box;
background-repeat: no-repeat, no-repeat;
position:relative;
z-index:1, 2;

  }


  .bread-crumb span{
  font-family: 'Square721Regular';
  font-size:9px;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  }

.quranic-dua{
  float:left;
  background:url(/images/quranic-dua.gif) no-repeat;
  width:260px;
  height:158px;
  margin-top:20px;
  margin-left:8px;

  }

  .quranic-dua1{
  float:left;
  background:url(/images/quranic-dua.gif) no-repeat;
  width:260px;
  height:158px;
  position:relative;
  top:-146px;
  margin-top:20px;
  margin-left:8px;

  }

#col-2 {
  font-family: 'Square721Regular';
  width: 680px;
  float: right;
  margin-right:10px;
  margin-top:20px;
  position:relative;
}
#col-2 p{
  font-family: 'Square721Regular';
  padding-bottom:18px;
  text-align:justify;
  font-size:14px;
}

#col-2 p.description{
  font-family: 'Square721Regular';
  padding-bottom:18px;
  text-align:left;
  font-size:14px;
}

.search-container1{
  float:left;
  background:url(/images/search-rep.png) repeat-x left top;
  width:680px;
  height:130px;
  margin-top:16px;
  position:relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position:relative;
  }

.search-topic{
  float:left;
  background:url(/images/search-tag.png) no-repeat left top;
  width:133px;
  height:71px;
  position:absolute;
  top: 30px;
  left: -2px;
  font-family: 'Square721Regular';
  font-size:14px;
  text-align:left;
  color:white;
  text-decoration:none;
  padding:26px 0px 0px 5px;
  font-weight: normal;
}


.search-field{
  float:left;
  width:493px;
  padding:6px 10px 6px 7px;
  border:1px solid #ebebeb !important;
  background:#FFF;
  margin: 16px 0 0 153px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}
  .search-container{
  float:left;
  background:url(/images/search-rep.png) repeat-x left top;
  width:680px;
  height:130px;
  margin-top:16px;
  position:relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.search-topic{
  float:left;
  background:url(/images/search-tag.png) no-repeat left top;
  width:133px;
  height:71px;
  position:absolute;
  top: 30px;
  left: -2px;
  font-size:14px;
  text-align:left;
  color:white;
  text-decoration:none;
  padding:26px 0px 0px 5px;
  font-weight: normal;
}


.search-field{
  float:left;
  width:290px;
  padding:6px 10px 6px 7px;
  border:1px solid #ebebeb !important;
  background:#FFF;
  margin: 8px 0 0 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
    behavior: url(../javascripts/ie-css3.htc);}

.list{
  float:left;
  width:303px;
  padding: 6px 5px 6px 4px;
  border:1px solid #ebebeb;
  background:#FFF;
  font-family: 'Square721Regular';
  font-size: 14px;
  margin: 8px 0 0 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}
.list option{
  background:#FFF;
}
.arabic-rigt{
  float: right;
  }
.search-btn{
  float: right;
  background: url(/images/search.png) no-repeat left top;
  width: 110px;
  height: 27px;
  font-family: 'Square721Regular';
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 10px 0px 0px 20px;
  border: none;
  cursor: pointer;
  outline: none !important;
  text-indent: 27px;
  line-height: 0;
  text-transform: capitalize;
  }
.search-btn:focus{
background:url(/images/srch.png) no-repeat left top;
  float:left;
  width:110px;
  height:63px;
  font-family: 'Square721Regular';
  font-size:14px;
  color:white;
  text-align:center;
  border:none;
  margin:10px 0px 0px 21px;
  cursor:pointer;
  outline:none !important;
  }

  .f-search-btn{
  float: right;
  background: url(/images/search.png) no-repeat left top;
  width: 110px;
  height: 27px;
  font-family: 'Square721Regular';
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 10px 0px 0px 20px;
  border: none;
  cursor: pointer;
  outline: none !important;
  text-indent: 27px;
  line-height: 0;
  text-transform: capitalize;
  }

.f-search-btn:focus{
background:url(/images/srch.png) no-repeat left top;
  float: right;
  background: url(/images/search.png) no-repeat left top;
  width: 110px;
  height: 27px;
  font-family: 'Square721Regular';
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 10px 0px 0px 20px;
  border: none;
  cursor: pointer;
  outline: none !important;
  text-indent: 27px;
  line-height: 0;
  text-transform: capitalize;
  }

.search-terms{
  float:left;
  width:535px;
}

.content-body{
  font-family: 'Square721Regular';
  background:white;
  border-radius:10px;
  padding:15px 20px 20px;
  margin-bottom: 30px;
}
.content-body-admin{
   font-family: 'Square721Regular';
   background: none repeat scroll 0 0 white;
   border-radius: 10px 10px 10px 10px;
   padding: 8px 28px 0;
  }

.index-subtopic{
  border-radius:10px;
  padding:15px 20px 0px 0px;
}
.index-subtopic h1{
   font-family: 'Square721Regular';
   font-size:22px;
   line-height:22px;
   font-weight:normal;
   padding-bottom:10px;
   color:#4b6a15;}


#slider{
  background:url(/images/slider-bg.png) no-repeat left top;
  width:660px;
  height:340px;
  float:right;
  padding:10px 14px 10px 10px;
  margin-top:25px;}

#slider .imge-slide{
  background:url(/images/sample-1.png) no-repeat left top;
  width:660px;
  height:306px;
  float:left;
  padding:10px;
  }

#class-container{
  float:left;
  padding-top:5px;
}

.class-section{
  float:left;
  width:300px;
  margin-right:44px;
  margin-bottom:5px;
  padding-top:18px;
}
.class-section p {
}

.class-img{
  float:left;
  width:100px;
  height:80px;
  background:#FFF;
  margin-right:7px;
  padding:5px;}

.nomargin{  margin-right:0px !important;}

#coin-slider{
  margin-bottom:15px;
  }
#popular-Questions{
  float:left;
  background:#FFF;
  width:680px;
  margin-top:37px;
  padding-bottom:10px;
  position:relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(../javascripts/ie-css3.htc);
  }

  #popular-Questions .show-more {
    background: url("/images/show-btn.png") repeat-x;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Square721Regular';
    color: #333;
    float: right;
    font-size: 12px;
    line-height: 24px;
    display:block;
    padding: 0 5px;
    #position:relative;
    #bottom:20px;
    text-align: center;
    }

  .popular-q{
  float:left;
  background:#FFF;
  width:100%;
  margin-top:37px;
  padding-bottom:10px;
  position:relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height:287px;
  left:10px;
  }

  .related-q
  {
  float:left;
  background:#FFF;
  width:100%;
  margin-top:37px;
  padding-bottom:10px;
  position:relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height:287px;
  left:22px;
  }
  .sb-topic-popular-q{
  float:left;
  background:#FFF;
  width:100%;
  margin-top:37px;
  padding-bottom:10px;
  position:relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height:287px;
  }

  .topic-popular-q{
  float:left;
  background:#FFF;
  width:100%;
  margin-top:37px;
  padding-bottom:10px;
  position:relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height:287px;
  }

  .topic-rel-subject{
  float:left;
  background:#FFF;
  width:208%;
  margin-top:37px;
  padding-bottom:10px;
  position:relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height:287px;
  }
#latest-Questions{
  float:left;
  background:#FFF;
  margin-top:4px;
  padding-bottom:10px;
  width:100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.font-9{
  font-size:9px;
  font-family: 'Square721Regular';
  }

.question-bar{
  background:url(/images/question-bar.png) no-repeat left top;
  font-family: 'Square721Regular';
  width:661px;
  height:42px;
  font-size:16px;
  color:#FFF;
  padding: 10px 0 0 24px;
  float:left;
  top:-4px;
  left:9px;
  margin-left:10px;}

  .question-bar-alternate{
  font-family: 'Square721Regular';
  background:url(/images/question-bar.png) no-repeat left top;
  width:661px;
  height:42px;
  font-size:16px;
  color:#FFF;
  padding: 10px 0 0 24px;
  top:357px;
  margin-left:10px;
  left:9px;}

  .question-bar-listquest{
  font-family: 'Square721Regular';
  background:url(/images/question-bar.png) no-repeat left top;
  width:661px;
  height:42px;
  font-size:16px;
  color:#FFF;
  padding: 10px 0 0 24px;
  float:left;
  top:246px;
  margin-left:10px;
  left:9px;}

  .latest-bar{
  background:url(/images/latest-q.png) no-repeat left top;
  width:296px;
  height:36px;
  font-size:16px;
  color:#FFF;
  padding: 6px 0 0 16px;
  position:absolute;
  float:left;
  top:-4px;
  left:10px;}

  .question-bar_topic_sub_topic{
  background:url(/images/question-bar.png) no-repeat left top;
  width:661px;
  height:42px;
  font-size:16px;
  color:#FFF;
  padding: 10px 0 0 24px;
  position:absolute;
  float:left;
  top:-4px;
  left:9px;}

.show-more{
  line-height:24px;
  text-align:center;
  color:#333;
  margin-right:49px;
  background:url(/images/button-rep.png) repeat-x left top;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top:0px;
  border-radius: 5px;
  color:#FFFFFF;
  padding:4px 6px 4px 6px;}

.show-search{
    background: none repeat scroll 0 0 #F5F5F5;
    color: #000000;
    float: right;
    line-height: 24px;
    margin-right: 49px;
    margin-top: 0;
    padding: 2px 10px;
    position: relative;
    right: -56px;
    text-align: center;
    top: -1px;
    width: 51px;
  }
  .show-verse-number-verspage{
  background: none repeat scroll 0 0 #F5F5F5;
  color:#4b6a15;
    line-height: 24px;
    margin-left: -3px;
    margin-top: 0;
    padding: 2px 10px;
    position: relative;
    top: -1px;
    width: 51px;
    text-align: center;
    }
  .show-verse-number-questionpage{
    background: none repeat scroll 0 0 #F5F5F5;
    color: #000000;
    line-height: 24px;
    margin-left: -3px;
    margin-top: 0;
    padding: 2px 10px;
    position: relative;
    top: -1px;
    border-radius: 5px 5px 5px 5px;
    float:left;
    text-align: center;
    }

  a.show-verse-search{
    color:#4b6a15;
    text-decoration: underline;
    font-size: 11px;
   }

  .browse-btn{
  line-height:24px;
  text-align:center;
  color:#333;
  margin-right:49px;
  background:url(/images/button-rep.png) repeat-x left top;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top:0px;
  border-radius: 5px;
  color:#FFFFFF;
  padding:1px 6px 1px 6px;
  float:right;
  clear:both;}


.question{
  float:left;
  padding: 5px 0 0 30px;}

.question ul{
  float:left;
  width:646px;}

.question ul li{
  float:left;
  border-bottom:1px solid #efefef;
  padding-left:25px;
  padding-bottom:10px;
  margin-bottom:5px;
  background:url(/images/normal-bullet.png) no-repeat 5px 3px;
  clear:both;
  width:92%;
  margin-left:-1px;
  }
.question ul li.last{
border-bottom:none;}

.question-index{
  float:left;
  padding: 13px 0 0 30px;
  margin-left:-9px;}

.question-index ul{
  float:left;
  width:646px;}

.question-index ul li{
  float:left;
  border-bottom:1px solid #efefef;
  padding-left:25px;
  padding-bottom:10px;
  margin-bottom:5px;
  background:url(/images/normal-bullet.png) no-repeat 5px 3px;
  clear:both;
  width:92%;
  margin-left:-6px;
  line-height:15px;
  }
.question-index ul li.last{
  font-family: 'Square721Regular';
  border-bottom:none;
  font-size:12px;}

.question_latest_popular{
  font-family: 'Square721Regular';
  float:left;
  padding: 42px 15px 0 0px;
  width:100%;
  }
.verse-last{
 font-family: 'Square721Regular';
 font-size:14px;
 padding:0px 15px 20px 20px;}

 .verse-current-last{
 font-family: 'Square721Regular';
 font-size:14px;
 padding:0px 15px 20px 20px;}
  .verse-current-last h1{
  font-size:18px;
  }

.trans-select{
  font-family: 'Square721Regular';
  float: left;
  width: 360px;
  margin-left:7px;
  margin-top: 5px;
 }

.trans-select input[type=checkbox]{
 float:left;
 clear:both;
 }
.trans-select label{
  float: left;
  font-size: 14px;
  margin-top: 2px;
  text-transform: capitalize;
  font-weight: bolder;
  margin-right: 5px;
 }

.question ul li a{
  font-family: 'Square721Regular';
  color:#333;
  font-size:14px;}

  .question-index ul li a{
  font-family: 'Square721Regular';
  color:#333;
  font-size:14px;}

#log{
  width:500px;
  margin:0 auto;
  min-height:287px;
  padding-top:90px;}

#login{
  width:335px;
  height:220px;
  margin:0 auto ;
  background:#FFF;
  padding:50px 0px 0px 25px ;
  position:relative;
  border:1px solid #CCC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.login-bar{
  float:left;
  position:absolute;
  background:url(/images/login.png) no-repeat left top;
  width:344px;
  height:31px;
  left:8px;
  top:-5px;
  font-family: 'Square721Regular';
  font-size:16px;
  padding:4px 0px 0px 15px;
  color:#FFF;}



#login .user{
  float:left;
  width:280px;
  height:37px;
  background:#FFF;
  margin-bottom:20px;
  border:1px solid #f3df95;}

#login .u-icon{
  float:left;

  width:36px;
  height:37px;}

#login .u-input{
  float:left;
  width:200px;
  background:#FFF;
  margin-left:10px;
  padding-top:9px;
  border:none !important;}

.login-btn{
  float:left;
  background:url(/images/log-btn.png) no-repeat left top;
  width:71px;
  height:41px;
  text-align:center;
  color:#FFF;
  font-family: 'Square721Regular';
  font-size:16px;
  border:none;
  margin-top:25px;
  padding-bottom:7px;
  cursor:pointer;}

div.dashboard{
  font-size:21px;
}
div.dashboard-trans{
font-family: 'Square721Regular';
  font-size:15px;
  margin-top:20px;
}

table.admin-view{
  width:100%;
  border:1px solid;
  font-family: 'Square721Regular';
  font-size:15px;
  margin-top:40px;
}
table.admin-view td{
  border:1px solid;
  padding:10px;
}
table.admin-view th{
  border:1px solid;
  text-align:center;
  font-family: 'Square721Regular';
  font-weight:bold;
  padding:10px;
  font-size:18px;
}

.rounded-borders{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.actions{
  margin:20px 0px 20px 0px;
}

.button{
  background:url("/images/rep-btn.png") repeat-x;
  height:28px;
}

.action-button{
  float:left;
  width:150px;
  text-align:center;
  color:white;
  font-family: 'Square721Regular';
  font-size:14px !important;
  line-height:28px;
  margin-right:10px;
}
.addthis_toolbox{
  float: right !important;
  width:90px;
  margin-top: 6px;

 }

.list-points{
 float:left;
}
.list-points-verse{
 float:left;
 padding-top:50px;
}

.list-points-browse{
 float:left;
 padding-top:20px;
}
.list-points h1{
  padding:20px 0px 20px 0px;

}

.list-points li{
   background: url("/images/normal-bullet.png") no-repeat scroll 5px 8px transparent;
    border-bottom:1px solid #EFEFEF;
    float: left;
    font-family: 'Square721Regular';
    font-size: 14px;
    line-height: 24px;
    list-style: none outside none;
    margin-bottom: 5px;
    margin-left: 11px;
    width:80%;
    padding-left: 25px;
}
.list-wrapper{
    float:right;
    width:689px;
}
.list-points-verse li{
  font-family: 'Square721Regular';
  font-size:14px;
  padding-left:25px;
  padding-bottom:10px;
  margin-left:20px;
  margin-bottom:5px;
  }

.list-points li a{
 color: #333;
 font-size: 14px;
}
.list-points-verse li a{
  color:#333;
  border-bottom:1px solid #EFEFEF
  }


.list-points-browse h1{
  padding:20px 0px 20px 0px;

}

.list-points-browse li{
  font-family: 'Square721Regular';
  font-size:14px;
  padding-left:25px;
  padding-bottom:10px;
  margin-left:20px;
  margin-bottom:5px;
  background:url(/images/normal-bullet.png) no-repeat 5px 7px;
}

.list-points-browse li a{
  color:#333;
  border-bottom:1px solid #EFEFEF
}

.list-questions{
 float:left;
}
.list-questions-popular{
 float:left;
}
.list-questions-verse{
 float:left;
 padding-top:50px;
}

.list-questions-browse{
 float:left;
 padding-top:20px;
}
.list-questions h1{
  padding:20px 0px 20px 0px;

}

.list-questions li{
   background: url("/images/normal-bullet.png") no-repeat scroll 5px 8px transparent;
    float: left;
    font-family: 'Square721Regular';
    font-size: 14px;
    line-height: 24px;
    list-style: none outside none;
    margin-bottom: 5px;
    margin-left: -5px;
    width:80%;
    padding-left: 25px;
    display:inline;
    #width:600px;
}
.list-questions-popular li{
   background: url("/images/normal-bullet.png") no-repeat scroll 5px 8px transparent;
    float: left;
    font-size: 14px;
    font-family: 'Square721Regular';
    line-height: 24px;
    list-style: none outside none;
    margin-bottom: 5px;
    margin-left: 21px;
    width:80%;
    padding-left: 25px;
    display:inline;
    #width:600px;
}
.list-questions-subtop li{
   background: url("/images/normal-bullet.png") no-repeat scroll 5px 8px transparent;
    float: left;
    font-family: 'Square721Regular';
    font-size: 14px;
    line-height: 24px;
    list-style: none outside none;
    margin-bottom: 5px;
    margin-left: 20px;
    width:80%;
    padding-left: 25px;
    display:inline;
    #width:600px;
}
.list-wrapper{
    float:right;
    width:689px;
}
.list-questions-verse li{
  font-family: 'Square721Regular';
  font-size:14px;
  padding-left:25px;
  padding-bottom:10px;
  margin-left:20px;
  margin-bottom:5px;
  }

.list-questions li a{
  color:#333 !important;
}
.list-questions-verse li a{
  color:#333;
  border-bottom:1px solid #EFEFEF
  }
  .verse-color1 {
  font-family: 'Square721Regular';
  font-size:14px;
  padding:10px 15px 20px 20px;
  float: left;
  width: 450px;
  }
  .current-verse-color {
  color:#ffffff;
  font-family: 'Square721Regular';
  font-size:14px;
  padding-top:10px;
  padding-bottom:15px;
  padding:0px 0px 20px 20px;
  }
.verse-color {
  font-family: 'Square721Regular';
  font-size:14px;
  padding:10px 15px 20px 20px;
  float: left;
  width: 450px;
}
 .verse-brown {
  color:#333;
  font-family: 'Square721Regular';
  font-size:14px;
  padding:0px 15px 20px 20px;
  border-bottom:1px dotted #976D3B;
 }
  .verse-brown h1 {
  color:#577818;
 }
  .verse-color h1{
   color:#577818;
   font-family: 'Square721Regular';
   font-size:18px;
   }
  .verse-color-whit {
  color:#FFFFFF;
  font-size:14px;
  font-family: 'Square721Regular';
  padding:0px 15px 20px 20px;
  border-bottom:1px solid #f5f5f5;
  }
  .verse-whit-last{
  color:#FFFFFF;
  font-family: 'Square721Regular';
  font-size:14px;
  padding:0px 15px 20px 20px;
  }
.verse-white-color {
  color:#FFFFFF;
  font-family: 'Square721Regular';
  font-size:15px;
  padding:0px 15px 20px 20px;
}

.list-questions-browse h1{
  padding:20px 0px 20px 0px;

}

.list-questions-browse li{
  font-family: 'Square721Regular';
  font-size:14px;
  padding-left:25px;
  padding-bottom:10px;
  margin-left:20px;
  margin-bottom:5px;
  background:url(/images/normal-bullet.png) no-repeat 5px 7px;
}

.list-questions-browse li a{
  color:#333;
  border-bottom:1px solid #EFEFEF;
}

.context-of{
  color:black;
}

.context-of .arabic{
  font-family: 'Square721Regular';
  font-size:28px;
}

.context-of li{
  font-family: 'Square721Regular';
  font-size:19px;
}

.verse-context-color {
   border-bottom: 1px dashed #cccccc;

  width:643px;
  margin-left:20px;
}

/* Content CSS End */
/* Footer CSS Start */
#footer {
  background:url(/images/footer-bg.png) repeat-x;
  height:235px;
  width:100%;
  margin-top:95px;
  min-width:1020px;

}

#footer .inner{
  width:1000px;
  margin:0 auto;
  padding-top:24px;}

#footer .connect-with{
  float:left;
  width:178px;
  }

#footer h6{
  font-family: 'Square721Regular';
  font-size:14px;
  color:#FFF;
  text-align: start;
  padding-bottom:15px;
  font-weight:normal;
  }

#footer h5{
  font-family: 'Square721Regular';
  font-size:14px;
  color:#FFF;
  text-align:left;
  padding-bottom:15px;
  font-weight:normal;
  }

#footer .s-icon{
  float:left;
  width:28px;
  height:28px;
  margin-right:7px;}


#footer .logo{
  background:url(/images/quran-f.png) no-repeat right top;
  float:right;
  width:160px;
  height:75px;
  }

#footer .copy-right{
  background:url(/images/copy-right.png) no-repeat right top;
  float:right;
  width:160px;
  height:50px;
  margin-left: 6px;
}

#footer .search-box{
  float:left;
  margin-left:204px;
  width:218px;

  }

#footer .s-input{
  float:left;
  width:174px;
  border:1px solid #f3df95;
  height:16px;
  background:#FFF;
  padding-left:6px;
  }

#footer .s-btn{
  float:left;
  background:url(/images/f-search.png) no-repeat right top;
  width:31px;
  height:28px;
  border: none;
  cursor:pointer;}

.footer a.social{
  float:left;
  padding-right:5px
}
/* Footer CSS End */
.slides_container {
    width:663px;
    height:306px;
  }
  .slides_container div {
    width:470px;
    height:170px;
    display:block;
  }
  #slideshowHolder a.next{
    background: url("/images/arrow-next.png") no-repeat scroll 0 0 transparent;
    color: transparent;
    float: right;
    height: 43px;
    left: 32px;
    position: relative;
    top: -170px;
    width: 24px;
  }
  #slideshowHolder a.prev {
  background: url("/images/arrow-prev.png") no-repeat scroll 0 0 transparent;
    color: transparent;
    color: transparent;
    float: left;
    height: 43px;
    position: relative;
    right: 33px;
    top: -170px;
    width: 24px;
}
 .search-pag .pagination{
    display: inline;
    margin:0 auto;
    width: 675px;
    margin-left:300px;
 }

 .simple-page .pagination{
  font-family: 'Square721Regular';
  display: inline;
  width: 675px;
  float:left;
  text-align:center;
  margin-bottom:15px;

}
pagination{
  display: inline;
  margin:0 auto;
  width: 675px;
  margin-left:300px;

}
.pagination li{
  float:left;
  padding:12px;
}
.pagination span.disabled {
  display:none;
}
.bread-crumb{
 font-family: 'Square721Regular';
  padding-top:12px;
  font-size:12px;
}
bread-crumb .breadfont{
 font-family: 'Square721Regular';
  font-size:10px;
}
.p-r-container{
  float:left;
  clear:both;
  margin-top:12px;
}
.issue_from_field{
 width:73px;
}
.issue_to_field{
 width:73px;
}
#cs-next-coin-slider{
 right:34px !important;
}
.nivoSlider {
    position:relative;
    width:50px; /* Change this to your images width */
    height:50px; /* Change this to your images height */

}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}
.verse-background{
  background-color: #EBEBEB;
  margin: 0px 0px 12px 0px;
  border-radius: 10px;
  float: left;
  min-width: 1000px;
}

.verse-background-pr-post{
    background-color:#FFFFFF;
    border-radius:10px;


;}
.verse-wrapper{
    padding-top:5px;
    padding-bottom:20px;


;}
.content-list-body{
background-color:white;
border-radius:10px;
width:100%;
}

.image-head{
  background: url("/images/twt.png") no-repeat scroll 0 0 transparent;
}
.header{
  position:relative;
  right:-157px;
}
.footer {
  margin-left: 34px;
}
.my_custom_googleplusone{
background: url("/images/google.png") no-repeat scroll;
height: 32px;
width: 32px;
position: absolute;
top:4px;
left:108px;
}

.my_custom_googleplusone1{
overflow: hidden;
background: url("/images/google.png") no-repeat;
height: 30px;
width: 30px;
position: relative;
top:-32px;
left:108px;
}


.hideMe{
height: 30px;
width: 161px;
overflow: hidden;
position: absolute;
}
#___plusone_0{
  opacity:0;
  width:30px !important;
}
#___plusone_1{
  opacity:0;
  width:30px !important;
}
.search-field.error, .s-input.error{
  border:1px solid red !important
}

.trans{
    color: #4B6A15;
    font-family: 'Square721Regular';
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
    padding-bottom: 10px;
}
.separator-width{
    border-bottom: 1px dashed #cccccc;
    float: left;
    margin-left: 20px;
    width: 96%;
}

.separator-issue-width{
    border-bottom: 1px dashed #cccccc;
    float: left;
    margin-left: 0px;
    width: 643px;
    margin-bottom: 10px
}

.separator-search-width{
   border-bottom: 1px dashed #cccccc;
    float:left;
    margin-left:-1px;
    width:647px;
}
.verses-last{
border-bottom:none;
}
.search-verse-keyword{
    font-family: 'Square721Regular';
    padding-left: 17px;
    padding-top: 10px;
    text-align: left;
    }
 #carousel ul {
  list-style: none;
  width:1600px;
  margin: 0;
  padding: 0;
  position:relative;
}
#carousel li {
  display:inline;
  float:left;
}
#slider div.navigation {
  display: block;
  float: left;
  margin: 10px 0;
  font-family: 'Square721Regular';
  text-align: center;
  width: 660px;
}
.carousal-des{
  background-color:#000000;
}
.numbered-verse{
  float:left;
  margin-left: 24px;
  margin-top: 9px;
}
#slider .textholder{
  background-color: transparent !important;
  color: #4b6a15;
  font-family: 'Square721Regular';
  font-size: 17px;
  height: 167.1px !important;
  margin-bottom: 7px !important;
  opacity: 0.9 !important;
  padding: 11px;
  padding-left: 17px;
  width: 325px !important;
}
.white-color{
}
#carousel .textholder{
  float:left;
  font-weight:bold;
  color:#4b6a15;
  font-family: 'Square721Regular';
  font-size:18px;
}
#carousel .textholder b{
  float: left;
  clear: both;
  font-weight: normal;
  font-family: 'Square721Regular';
  font-size: 14px;
  padding: 15px 25px 13px 0px;
  text-align: justify;
  color: #fff;
}
#carousel .textholder a{
  float: right;
  font-size: 13px;
  font-family: 'Square721Regular';
  margin: 0px 28px 11px 11px;
  color: #835A35;
}
.admin-page h1{
  color:#4b6a15;
}
.bread-size{
  float:left;
}
 .sub_topic-color{
    color: #4b6a15;
    font-family: 'Square721Regular';
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    padding-bottom: 10px;}

 body {
  font-family: 'Square721Regular';
  font-size:11px;
 }
.clear {clear:both}
/* remove the list style */
#nav {
    margin:0;
    padding:0;
    list-style:none;
}

    /* make the LI display inline */
    /* it's position relative so that position absolute */
    /* can be used in submenu */
    #nav li{
        float:left;
        display:block;
        background:0;
        position:relative;
        z-index:500;
        margin:0 1px;
        border-radius:4px;
    }


     #nav li.home_padding{
        float:left;
        padding-top:4px;
        display:block;
        width:51px;
        background:0;
        position:relative;
        z-index:500;
        margin:0 1px;
    }

    #nav li.sub_items{
        float:left;
        display:block;
        width:77px;
        background:#8ba90c;
        position:relative;
        z-index:500;
        margin:0 1px;
        border-radius:none;
    }

    /* this is the parent menu */
    #nav li a {
        display:block;
        padding:8px 5px 0 5px;
        font-weight:700;
        height:23px;
        text-decoration:none;
        font-family: 'Square721Regular';
        color:#fff;
        text-align:center;
        color:#333;
    }

    #nav li:hover a, #nav li.hover a {
        color:#fff;
    }

    /* you can make a different style for default selected value */
    #nav a.selected {
        color:#f00;
    }

        /* submenu, it's hidden by default */
        #nav ul {
            position:absolute;
            left:0;
            display:none;
            margin:0 0 0 -1px;
            padding:0;
            list-style:none;
            margin-top:34px;
        }

        #nav ul li {
            width:79px;
            float:left;
            border-bottom: 1px solid #FFFFFF;
            border-radius:0px;
        }

        /* display block will make the link fill the whole area of LI */
        #nav ul a {
            display:block;
            height:15px;
            padding: 8px 5px;
            color:#333;
        }

        #nav ul a:hover {
            text-decoration:underline;
        }

/* fix ie6 small issue */
/* we should always avoid using hack like this */
/* should put it into separate file : ) */
*html #nav ul {
    margin:0 0 0 -2px;
}
#carousel a,
#carousel img#close {
  display:none !important;
}
#carousel div a {
  display: inline-block !important;
}
.show-verse-number-questionpage,
.show-verse-number-questionpage a {
  font-family: 'Square721Regular';
  font-size:14px;
  color:#4B6A15;
}
.view-details {
  padding-bottom:10px;
}
.view-details a {
  text-decoration: underline;
}
p.subdesc {
 font-family: 'Square721Regular';
 font-size:11px !important;
 overflow:hidden;
}
#question_quest {width:90%;}
#alternate_phrases label {font-size: 14px; clear: both;}

.sort-handle {
  cursor:move;
}

.translation-margin {
 margin: 15px;
}

.verse-margin {
margin-bottom: 36px;
margin-top: -7px;
}

div.error-box {
 width:535px;
 padding:10px;
 border:1px solid red;
 font-family: 'Square721Regular';
 color: red;
 margin:0px;
 font-size:14px;

}

.admin-menu {
 padding-left: 448px;
}

.jtruncate {
 font-family: 'Square721Regular';
 font-size:14px;
 line-height: 18px;
}

.universal-font {
 font-family: 'Square721Regular';
 font-size:14px;
 line-height: 18px;
 text-align: justify;
 }

.editlink-margin {
 float:right;
}

.static-text {
 font-family: 'Square721Regular';
 padding-top:29px;
 color:black;
}

.last-updated-by {
 font-family: 'Square721Regular';
 color:#4b6a15;
 font-size:12px;
}

.text-body ul{
 font-family: 'Square721Regular';
 list-style-type:disc;
 margin:15px;
 font-size:14px;
}

.text-body ol{
  font-family: 'Square721Regular';
  list-style-type:decimal;
  margin:20px;
  font-size: 14px;
}

.static-text ul, .static-text ol{
 font-family: 'Square721Regular';
}

span p {
 font-family: 'Square721Regular' !important;
}

.static-text p, .static-text p span{
 font-family: 'Square721Regular' !important;
 text-align: justify;
 font-size: 14px !important;
 margin-top:20px;
 background-color:white !important;
}

.text-body p{
 font-family: 'Square721Regular' !important;
 text-align: justify;
 font-size: 14px !important;
 background-color:white !important;
}

.text-body p span, .text-body span{
 background-color:white !important;
 font-family: 'Square721Regular' !important;
 text-align: justify;
 font-size: 14px !important;
}


.search-pag span,
.simple-page span {
  font-weight:bold;
  font-size: 14px;
  color: #835A35;
}

.footer-colm1 {
  background: url(/images/footer-box.png) no-repeat right top;
  float: left;
  width: 41%;
  height: 210px;
}

.footer-colm1-content {
  background: url(/images/footer-head.png) no-repeat left top;
  font-family: 'Square721Regular';
  width: 661px;
  height: 42px;
  font-size: 16px;
  color: #FFF;
  padding: 10px 0 0 24px;
  float: left;
  top: -4px;
  left: 9px;
  margin-left: 10px;
}

.footer-colm1-content p {
  font-family: 'Square721Regular';
  font-size: 16px;
}

.footer-colm2 {
  float: left;
  width: 31%;
  margin-left: 60px;
}

.footer-colm3 {
  float:right;
  width:16%;
}

p.about-text {
  color:white;
  padding:30px;
}

.about-text span{
  background-color:transparent !important;
  padding:30px;
}
.header-search {
  float: right;
  width: 294px;
  height: 62px;
  margin-right:60px;
}

.header-search .s-btn {
  float: right;
  background: url(/images/search-top.png) no-repeat right top;
  width: 43px;
  height: 28px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
}

.header-search input[type="text"] {
  width:215px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.header-search a {
  color:white;
  text-decoration:underline;
  float:right;
  margin-right:65px;
}

#login .u-input {
  margin-top:1px !important;
}

.goog2 {
  background-image: url("/images/social-icons.png") !important;
  display: inline-block;
  height: 28px;
  margin-left: 2px;
  width: 31px;
}

.goog2:hover {
  opacity: .75;
}

.facebook {
  background-image: url("/images/social-icons.png") !important;
  background-position: 70px center;
  width: 33px;
  height: 28px;
  display: inline-block;
}

.facebook:hover {
  opacity: .75;
}

.twitter {
  background-image: url("/images/social-icons.png") !important;
  background-position: 36px center;
  width: 31px;
  height: 28px;
  display: inline-block;

}

.twitter:hover {
  opacity: .75;
}
.footer-twitter {
   width: 36px !important;
}

.header-search-tab2 {
  width: 645px;
  height: 182px;
  margin-bottom: 30px;
  background-color: #F5F5F5
}

.prev-link {
  float:right;
}

.translations-box {
  margin-top: 10px;
}

.verse-wrapper .prev-link {
  float:left !important;
  margin-top: 70px;
}

.admin-view {
  margin-bottom: 10px;
}

.change-password {
  margin-bottom: 20px;
}

.change-password input[type="text"],
.change-password input[type="password"] {
  margin-bottom: 10px !important;
  margin-top: 6px !important;
}

.head-search-terms {
  float:left;
  width:800px;
}

.head-search-form select {
  margin-right: 10px;
}

.head-search-form {
   margin: 5px;
   margin-right: 20px;
}

.admin-board {
  font-size: 20px;
}

.header-search input[type="text"] {
  margin-top: 20px;
}

.admin-back-link {
  float:right;
}

.button a {
  color: #fff;
  text-transform: capitalize;
}

.button input[type="submit"] {
  color: #fff !important;
  border: none;
  background-color:transparent !important;
}

.top-links .admin-back-link {
  margin-top: 5px;
}

input[type="submit"] {
  border: none !important;
}
.advance-search {
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.truncate_ellipsis a, #less {
  color: #835A35;
}

.loggedin-user {
  margin-top: 6px;
  margin-left: 36px;
  font-size: 14px;
  font-weight: bolder;
}

ul.ui-menu, .ui-widget {
  z-index: 1000 !important;
  width: 300px !important;
}

.ui-menu .ui-menu-item a
{
border-top: none !important;
display: block !important;
line-height: normal !important;
margin-top: 0px !important;
padding-left: 0px !important;
padding-right: 0px !important;
padding-top: 0px !important;

text-decoration: none;
width: 274px !important;
}

a:visited {
  font-family: 'Square721Regular';
  text-decoration: none;
  color: #835A35;
}

.action-button a:visited {
  text-decoration: none;
}