<% if logged_in? %>
<div class = "admin-menu">
<ul id="nav" >
    <li><%= link_to("Home", admin_dashboard_path)%>
     </li>
    <li><%= link_to("Change Password", change_password_user_path(current_user))%>
    </li>
    <li><%= link_to("User Management", users_path)%>
    </li>
    <li><%= link_to("Topics", topics_path) %>
    </li>
</ul>
</div>
 <% end %>

