<!--inner -->
<div class="inner">
  <div class="footer-colm1">
    <div class="footer-colm1-content">
      <p>About this website</p>
    </div>
       <p class="about-text"><%= display_full_text(StaticContent.first.about[0...700]) %>... 
       <%= link_to("[Read more]", { :controller => "main", :action => "about"}, {:class => 'about' })%></p>
  </div>
  <div class="footer-colm2">
    <div>
      <%= render :partial => "shared/search" %>
    </div>
  </div>
  <div class="footer-colm3">
  <div>
    <a href="/" class="logo"></a>
  </div>
  <div class="clear"></div>
  <div class = "footer">
    <h6> Connect with us</h6>
    <%= popup_window_sharer%>
  </div>
  <div>
    <a href="/" class="copy-right"></a>
  </div>
  </div>
  <!--connect-with -->
</div> <!--/inner -->
