<!--inner -->
<div class="inner">

<!--connect-with -->
<div class="connect-with">

<h6> Connect with us</h6>

  <a href="#" class="s-network"><img src="/images/rss.png" width="28" height="28" alt=""></a>
  <a href="#" class="s-network"><img src="/images/google.png" width="28" height="28" alt=""> </a>
  <a href="#" class="s-network"><img src="/images/fb.png" width="28" height="28" alt="" ></a>
  <a href="#" class="s-network"><img src="/images/twt.png" width="28" height="28" alt=""> </a>
  <a href="#" class="s-network"><img src="/images/pluse.png" width="28" height="28" alt=""></a>
</div> 
<!--/connect-with -->

<!--search-box -->
<div class="search-box"><h5>Quick Search</h5>
  <% form_tag("/home/search", :method => "get") do %>   
    <input name="search_term" type="text" class="s-input watermarked" title="Search"/>
        <%= submit_tag '', :class => "s-btn" %>
  <% end %>

</div> 
<!--/search-box -->

<a href="/" class="logo"></a>


</div> <!--/inner -->
