<!--inner -->
<div id= "footer2" name="footername" class="inner">
  <div class="footer-colm1">
    <div class="footer-colm1-content">
      <p>About this website</p>
    </div>
       <div class="about-text"><%= display_full_text(StaticContent.first.about[0...300]) %>...
         <div class="clear"></div>
         <%= link_to("[read more]", { :controller => "main", :action => "about"}, {:class => 'about-us' })%>
      </div>
  </div>
  <div class="footer-colm2">
    <div>
      <%= render :partial => "shared/search" %>
    </div>
  </div>
  <div class="footer-colm3">
  <div>
    <a href="/" class="logo"></a>
  </div>
  <div class="clear"></div>
  <div class = "footer social-container">
    <h6> Connect with us</h6>
    <a class='goog2' href='#'></a>
    <a class='facebook' href='#'></a>
    <a class='twitter footer-twitter' href='#'></a>

  </div>
  <div>
    <a href="/" class="copy-right"></a>
  </div>
  </div>
  <!--connect-with -->
</div> <!--/inner -->
