<a href="/" id="logo"></a>

<!--social-container -->
<div id="social-container">

  <a href="#" class="s-network"><img src="/images/rss.png" width="28" height="28" alt=""></a>
  <a href="#" class="s-network"><img src="/images/google.png" width="28" height="28" alt=""> </a>
  <a href="#" class="s-network"><img src="/images/fb.png" width="28" height="28" alt="" ></a>
  <a href="#" class="s-network"><img src="/images/twt.png" width="28" height="28" alt=""> </a>
  <a href="#" class="s-network"><img src="/images/pluse.png" width="28" height="28" alt=""></a>

</div> 
<!--/social-container -->

<!--menu-->
<div id="menu">
  <%= render :partial => "shared/menu" %>
</div>
<!--/menu-->
