<a href="/" id="logo"></a>

<!--social-container -->
<div id="social-container">
  <%= twitter_sharer_footer %>
  <%= popup_window_sharer_footer %>
</div>
<!--/social-container -->
<!--menu-->
<div id="menu-bar">
  <%= render :partial => "shared/menu" %>
</div>
<!--/menu-->
