<a href="/" id="logo"></a>

<!--social-container -->
<div id="social-container">
  <%= addthis_medium_button %>
</div> 
<!--/social-container -->
<!--menu-->
<div id="menu">
  <%= render :partial => "shared/menu" %>
</div>
<!--/menu-->
