<a href="/" id="logo"></a>

<!--social-container -->
<div id="social-container">
  <%= popup_window_sharer %>
</div>

<div class="search-box header-search">
  <% form_tag("/home/search", :method => "get") do %>
    <input name="search_term" type="text" class="s-input watermarked" title="Enter a Keyword"/>
    <%= submit_tag '', :class => "s-btn" %>
  <% end %>
  <div class="clear"></div>
  <%= link_to "Advance Search" ,"#footer2", :name=>"footer2" %>
</div>
<!--/social-container -->
<!--menu-->
<div id="menu-bar">
  <%= render :partial => "shared/menu" %>
</div>
<!--/menu-->
