<% topics =Topic.all.collect(&:name) + SubTopic.all.collect(&:name)
%>

  <script>
  $(function() {
 $(".s-input").autocomplete({
    source: <%= topics.to_json
%>
  });
 });
  </script>
<a href="/" id="logo"></a>
<!--social-container -->
<div id="social-container">
  <a class='goog2' href='#'></a>
  <a class='facebook' href='#'></a>
  <a class='twitter' href='#'></a>
</div>

<div class="search-box header-search">
  <% form_tag("/home/search", :method => "get") do %>
    <input name="search_term" type="text" class="s-input watermarked" title="Enter a Keyword"/>
    <%= submit_tag '', :class => "s-btn" %>
  <% end %>
  <div class="clear"></div>
  <%= link_to "Advance Search" ,"#footer2", :id=>"advance-search" %>
</div>
<!--/social-container -->
<!--menu-->
<div id="menu-bar">
  <%= render :partial => "shared/menu" %>
</div>
<!--/menu-->
