<div class="topics-left-bar">
<div class="side-topic"><h2><img class="side-arrow" src="/images/topic-arrow.png" width="14" height="14" alt="">Quranic Subjects</h2></div>

<ul>
  <% list_topics.each do |topic| %>
        <li><a href="/<%= topic.name_slug %>" class="<%= 'selected' if params[:topic_name_slug] == topic.name_slug || params[:topic_id]==topic.id %>"> <%= topic.name %></a></li>
  <% end %>
</ul>
</div>

