<ul <%= "id='admin-menu'" if logged_in? %> >
  <li><a href="#" class="active"><img class="home" src="/images/nav-home.png" width="19" height="16" alt=""></a></li>
  <li><a href="login.html">About</a></li>
  <li><a href="#">Duas</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Credites</a></li>
  <li><a href="#">FAQ's</a></li>
  <% if logged_in? %>
    <li><a href="/logout">Logout</a></li>
  <% end %>
</ul>
