<div class="list-points">
<div style="float:left; margin-right:10px; width:329px;">
<div class="sb-topic-popular-q">
  <div class="latest-bar">
  Popular Sub Topics</div>
    <div class="question_latest_popular">
      <ul>
      <% @popular_questions.each do |q| %>
          <li>
            <%= link_to truncate(q.quest, :length => 35, :omission => '...'), question_slug_path(@sub_topic.topic.name_slug,@sub_topic.name_slug,q.quest_slug) %>
          </li>
         <% end %>
      </ul>
   </div>
  </div>
 </div>
</div>
