<script>
$(document).ready(function()
{
  $("#search_terms_search_topic").change(function(){
    $.ajax({
      url: "/main/get_subtopics",
      data: {id: $("#search_terms_search_topic").val()} ,
      success: function( data ) {
        $('#search_terms_search_sub_topic').html($(data).html());
        }
    });  
  });
   $("#search_terms_search_topic").change();
});
</script>
<div href="#" class="search-topic">Search Keyword</div>
<div id="search_form">
  <% form_tag("/home/search", :method => "get") do %>   
    <input name="search_term" type="text" class="search-field watermarked" title="Search" value="<%= params[:search_term]%>"/>
    <div class="search-terms">
      <%= select("search_terms", "search_topic", Topic.all.collect {|t| [ t.name, t.id ] }, { :include_blank => "All Topics" } ,:class => "list") %>
      <%= select("search_terms", "search_sub_topic", SubTopic.all.collect {|t| [ t.name, t.id ] }, { :include_blank => "All Sub Topics" } ,:class => "list") %>
    </div>
    <%= submit_tag 'Search', :class => "search-btn" %>
  <% end %>
</div>
