<script>
$(document).ready(function()
{
  $("#search_terms_search_topic").change(function(){
    $.ajax({
      url: "/main/get_subtopics",
      data: {id: $("#search_terms_search_topic").val()} ,
      success: function( data ) {
        $('#search_terms_search_sub_topic').html($(data).html());
        }
    });  
  });
  $("#search_terms_search_topic").change();
  $("input.search-field").autocomplete({
    source: function( request, response ){
      $.ajax({
        url: "/suggestions",
        data: {search_terms:$("input.search-field").val()},
        dataType: "json",
        success: function( data ) {
          response( $.map( data, function( item ) { return { value: item.title }}));
        }
      });
    }
  });
});
</script>

<div id="search_form">
  <% form_tag("/home/search", :method => "get") do %>   
    <input name="search_term" type="text" class="search-field watermarked" title="Search Keyword" value="<%= params[:search_term]%>"/>
    <div class="search-terms">
       <%= display_topics %>
      <%= display_subtopics %>
    </div>
    <div class="clear"></div>
    <%= submit_tag 'Search', :class => "f-search-btn" %>
  <% end %>
</div>
