<div id="carousel">
<ul>
	<li><%= image_tag "01.jpg", :width => "660", :height => "307" %><p>This is the heading<b>This carousel has no padding applied to it so you won't see hints for the previous and next images.Also, the progress bar could be disabled by setting just one option on the plugin....</b><a href="#">>>more</a></p></li>
	<li><%= image_tag "02.jpg", :width => "660", :height => "307" %><p>This is the heading2<b>This is the caption for the second image. The height of the caption box is an option....</b><a href="http://www.gmail.com">>>more</a></p></li>
  <li><%= image_tag "03.jpg", :width => "660", :height => "307" %><p>This is the heading3<b>This is the caption for the second image. The height of the caption box is an option....</b><a href="http://www.gmail.com">>>more</a></p></li>
</ul>
</div>
