<div id="carousel" class="hidden">
  <ul>
    <% @images.each do |image| %>
      <li>
        <%= slider_link(image) %>
      </li>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
window.onload = function(){
  $("#carousel").removeClass("hidden");
  $('#carousel').infiniteCarousel({
    transitionSpeed : 800,
    displayTime : 5000,
    textholderHeight : .30,
    displayProgressBar : 0,
    displayThumbnails :false
  });
}
</script>
