<div id="carousel">
<ul>
	<li><%= image_tag "01.jpg", :width => "660", :height => "307" %></li>
	<li><%= image_tag "02.jpg", :width => "660", :height => "307" %></li>
  <li><%= image_tag "03.jpg", :width => "660", :height => "307" %></li>
</ul>
</div>
