<div class="trans-select">
 <div class = "trans-line">
   <form method = "post">
      <%= hidden_field_tag 'prev', params[:prev] %>
      <%= label_tag 'Select Translation   ' %>
      <%= select_tag 'translation_name', options_for_select(Translation.all.collect{|c| [[c.language,c.name].join(' : '), c.table_nam]}, Translation.get_translation(cookies, params).table_nam),  :onchange=>"this.form.submit()" %>
   </form>
</div>
</div>
