<div class="trans-select">
 <h7>Translations</h7><br><br>
 <div class = "trans-line">
   <form>  
    <%= hidden_field_tag 'prev', params[:prev] %>
    <% Translation.all.each do |translation| %>
      <% if params[:trans] %>
        <%= check_box_tag 'trans[]', translation.table_nam, params[:trans].include?(translation.table_nam) %>
      <% else %>
        <%= check_box_tag 'trans[]', translation.table_nam, @translation.id == translation.id %>
      <% end %>
      <%= translation.name %><br><br>
    <% end %>
   </form>
</div>
</div>
