<div class="trans-select">
 <div class = "trans">
 Translations </div><br>
 <div class = "trans-line">
   <form method = "post">  
    <%= hidden_field_tag 'prev', params[:prev] %>
    <% Translation.all.each do |translation| %>
        <%= check_box_tag 'trans[]', translation.table_nam, cookies[translation.table_nam] == 'true' %>
      <%= translation.name %><br><br>
    <% end %>
   </form>
</div>
</div>
