<div class="trans-select">
 <div class = "trans">
 Translations </div><br>
 <div class = "trans-line">
   <form method = "post">  
    <%= hidden_field_tag 'prev', params[:prev] %>
    <% Translation.all.each do |translation| %>
        <%= radio_button_tag 'translation_name', translation.table_nam, translation_selected(translation)  %>
      <%= [translation.language,translation.name].join(' - ') %>
      <div class="clear translation-margin" ></div>
    <% end %>
   </form>
</div>
</div>
