<!--class-container -->
<div id="class-container">

  <h1>Class aptent taciti sociosqu ad</h1>

  <div class="clear"></div>
  <!--class-section -->
  <div class="class-section">

    <a href="#" class="class-img"><img src="images/class-img.png" width="100" height="80" alt=""></a>
    <h3>Water cycle</h3>

    <p>Nunc ullamcorper velit vel leo. Ut ut ligula fusce ullamcorper...</p>

  </div> <!--/class-section --> 

  <!--class-section -->
  <div class="class-section nomargin">

    <a href="#" class="class-img"><img src="images/class-img2.png" width="100" height="80" alt=""></a>
    <h3>Mission of islamic Ummah</h3>

    <p>Nunc ullamcorper velit vel leo. Ut ut ligula fusce</p>

  </div> <!--/class-section --> 



  <!--class-section -->
<div class="class-section">

<a href="#" class="class-img"><img src="images/class-img3.png" width="100" height="80" alt=""></a>
<h3>Rights of Women</h3>

<p>Nunc ullamcorper velit vel leo. Ut ut ligula fusce ullamcorper...</p>

</div> <!--/class-section --> 

  <!--class-section -->
<div class="class-section nomargin">

<a href="#" class="class-img"><img src="images/class-img4.png" width="100" height="80" alt=""></a>
<h3>Hudood-Ullah</h3>

<p>Nunc ullamcorper velit vel leo. Ut ut ligula fusce ullamcorper...</p>

</div> <!--/class-section --> 



  <!--class-section -->
<div class="class-section">

<a href="#" class="class-img"><img src="images/class-img5.png" width="100" height="80" alt=""></a>
<h3>Biology</h3>

<p>Nunc ullamcorper velit vel leo. Ut ut ligula fusce ullamcorper...</p>

</div> <!--/class-section --> 

  <!--class-section -->
<div class="class-section nomargin">

<a href="#" class="class-img"><img src="images/class-img6.png" width="100" height="80" alt=""></a>
<h3>Marriage</h3>

<p>Nunc ullamcorper velit vel leo. Ut ut ligula fusce ullamcorper...</p>

</div> <!--/class-section --> 


</div> <!--/class-container -->


<div class="clear"></div>

<!--popular-Questions-->
<div id="popular-Questions">

<!--question-bar -->
<div class="question-bar">

Popular-Questions

<a href="#" class="show-more">Show more</a>

</div> <!--/question-bar -->
<div class="clear"></div>
<!--question -->
<div class="question">

<ul>
<li><a href="#">Suspendisse tincidunt ultricies neque. Phasellus ultricies cursus ligula. Nulla ullamcorper</a></li>
 <li><a href="#">Suspendisse tincidunt ultricies neque. Phasellus ultricies cursus ligula. Nulla ullamcorper</a></li>
  <li><a href="#">Suspendisse tincidunt ultricies neque. Phasellus ultricies cursus ligula. Nulla ullamcorper</a></li>
   <li><a href="#">Suspendisse tincidunt ultricies neque. Phasellus ultricies cursus ligula. Nulla ullamcorper</a></li>
    <li><a href="#">Suspendisse tincidunt ultricies neque. Phasellus ultricies cursus ligula. Nulla ullamcorper</a></li>
     <li><a href="#">Suspendisse tincidunt ultricies neque. Phasellus ultricies cursus ligula. Nulla ullamcorper</a></li>

</ul>


</div> <!--/question -->

</div><!--/popular-Questions-->
