<script>
  function get_context(){

    $.ajax({
              url: "/verse/get_context",
              data: {verse_id:<%= params[:id] %>} ,
              success: function( data ) {
                $('.list-points').html($(data).find('ol'));
                $('#arabic-verse').html("");
                }
            });
  }
</script>
 <br>
  <% @verses_range.each do|v| %>
   <div class="arabic" dir="rtl"><br>
       <%= v.text  %><br><br>
      </div>
      <div class="verse-color">
      <%=h v.translate_to("eng")[0].text %><br><br>
      </div>
  <% end %>
  <%= addthis_button %>
