<div id="popular-Questions">
<div class="question-bar-listquest">
  List of Topics</div>
  <div class="question-index">
  <ul>
    <% @sub_topic_questions.each_with_index do |question,i| %>
      <li class="<%= questions_subject_class(i+1, @sub_topic_questions.count) %>">
        <%= link_to question.quest, question_slug_path(@sub_topic.topic.name_slug,@sub_topic.name_slug,question.quest_slug) %>
      </li>
    <% end %>

  </ul>
</div>
</div>
