<div class = "list-questions content-list-body">
<div class="list-questions">
  <h5>List of Questions</h5>
  <ol>
    <% @sub_topic_questions.each do |question| %>
      <li>
        <%= link_to question.quest, question_slug_path(@sub_topic.topic.name_slug,@sub_topic.name_slug,question.quest_slug) %>
      </li>
    <% end %>
    <div class ="simple-page">
    <%= will_paginate @sub_topic_questions%>
    </div>
  </ol>
</div>
</div>
